<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <servlet>
  	<servlet-name>IndexPage</servlet-name>
  	<servlet-class>com.socialwebapp.HomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexPage</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewTweetPage</servlet-name>
  	<servlet-class>com.socialwebapp.NewTweetController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewTweetPage</servlet-name>
  	<url-pattern>/new_tweet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TweetPermalinkPage</servlet-name>
  	<servlet-class>com.socialwebapp.TweetPermalinkController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TweetPermalinkPage</servlet-name>
  	<url-pattern>/tweet/*</url-pattern>
  </servlet-mapping>
  
</web-app>