<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  <servlet>
  	<servlet-name>IndexPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.HomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexPageHandler</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewTweetPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.NewTweetController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewTweetPageHandler</servlet-name>
  	<url-pattern>/new_tweet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TweetPermalinkPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.TweetPermalinkController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TweetPermalinkPageHandler</servlet-name>
  	<url-pattern>/tweet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LogoutPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LogoutPageHandler</servlet-name>
  	<url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>TopTweetsPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.TopTweetsController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TopTweetsPageHandler</servlet-name>
  	<url-pattern>/top_tweets</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>FriendsTweetsPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.FriendsTweetsPageController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FriendsTweetsPageHandler</servlet-name>
  	<url-pattern>/friends</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DeleteTweetPageHandler</servlet-name>
  	<servlet-class>com.socialwebapp.DeleteTweetController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DeleteTweetPageHandler</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  
</web-app>